a{
    text-decoration: none;
    color: #000;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
}

ul{
    list-style: none;
}

/*Área de pedidos*/

.containerCarrinho{
    border: 1px solid;
    width: 40vw;
    height: 100vh;
    margin: 40px auto;
}

button{
    width: 100px;
    height: 50px;
}

/*Itens do carrinho */

#carrinhoCart{
    display: inline-flex;
    flex-wrap: wrap;
}
#carrinhoCart li{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    border: 1px solid rgb(218, 129, 129);
    border-radius: 5px;
    width: 18vw;
    height: 20vh;
}
@media(max-width:1440px)  {
    #carrinhoCart{
        justify-content: center;
    }
    #carrinhoCart li{
        width: 30vw;
        height: 25vh;
    }
}
@media(max-width:1024px)  {
    #carrinhoCart{
        justify-content: center;
    }
    #carrinhoCart li{
        width: 32vw;
        
    }
}

#carrinhoCart li .cartInfos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
}

#carrinhoCart li span{
    margin-bottom: 30px;
    font-size: 17pt;
}

#carrinhoCart li .quantidade{
    margin-bottom: 10px;
    font-size: 14pt;
}
#carrinhoCart li .quantidade a{
    padding: 10px;
    font-size: 17pt;
}

#carrinhoCart li .valor{
    margin-bottom: 20px;
    font-size: 14pt;
}

#carrinhoCart li .tamanho{
    font-size: 15pt;
}

#carrinhoCart li img{
    margin: 15px;
    max-height: 160px;
}

#delete{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    margin-top: 130px;
}