{{>partials/header}}
    <main>
        <div class="containerCarrinho">
            <h2 class="titulo">Carrinho</h2>
            <ul id="carrinhoCart">
                {{#cart}}
                    <li>
                        <img src="/imagens/{{img}}" alt="">
                        <div class="cartInfos">
                            <span>{{flavor}}</span>
                            <div class="quantidade">
                                <a href="/carrinho/{{id_pedido}}/diminuir">-</a>
                                    {{length}}
                                <a href="/carrinho/{{id_pedido}}/aumentar">+</a>
                            </div>
                            <div class="valor">R${{money}}</div>
                            <div class="tamanho">{{size}}</div>
                        </div>
                        <a href="/carrinho/{{id_pedido}}/deletar" id="delete"><img src="/imagens/delete.png" alt="lixeira"></a>
                    </li>
                {{/cart}}
            </ul>
        </div>
    </main>
{{>partials/footer}}