{{>partials/header}}

    <aside>
        <div class="btn_menu" >
            <img class="img btnAbrir" onclick="abrirFechar()" src="/imagens/menu.svg" alt="Botão de Abrir o menu">
            <img class="img btnFechar esconder" onclick="abrirFechar()" src="/imagens/fecharMenu.svg" alt="Botão de fechar o Menu">
        </div>
        <div class="menu_retratil">
            <ul id="conta">
                <li><a href="login.html">Login</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/carrinho" id="carrinho">Carrinho</a></li>
            </ul>
        </div>
    </aside>
    <main class="opcoes_Pizza">
        <section class="menu_pizzas">
            <h2 class="titulo">Sabores</h2>
            <div class="areaPizza">
                <ul class="ul">
                    {{#listaPizza}}
                        <li>
                            <div class="item" id="item">
                                <img src="/imagens/{{img}}" alt="">
                                <span>{{sabor}}</span>
                                <a href="/pizza/{{id}}/" class="btn">+ADICIONAR</a>
                            </div>
                        </li>
                    {{/listaPizza}}                    
                </ul>
            </div>
            {{>partials/pizzaInfo}}
        </section>
    </main>

{{>partials/footer}}