{{>partials/header}}
{{#listaPizza}}
    {{sabor}}
{{/listaPizza}}
<form method="POST" action="/testando">
    <input type="text" name="nome"/>
    <button>Enviar</button>
</form>

{{>partials/footer}}