.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}
.cart h2{
    color: #ff1b6b;
}

.cart ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
}

@media (max-width: 920px) {
    .cart ul {
        padding: 5px;
    }
}

