<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <title>pizzaria</title>
</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href='/'>
                <span>PizzaMel</span>
                <img src="/imagens/Icone.png" alt="Icone de Pizza">
            </a>
        </div>
    </header>