{{#item}}
    <div class="pizzaInfo">
        <div class="container">
            <a href='/'><img src="/imagens/fecharMenu.svg" alt="fechar o menu" id="fechar"></a>
            <div class="pizza">
                <img src="/imagens/{{img}}">
                <Span>{{sabor}}</Span>
            </div>
        </div>
    </div>
{{/item}}