{{#item}}
    <div class="pizzaInfo">
        <div class="container">
            <a href='/'><img src="/imagens/fecharMenu.svg" alt="fechar o menu" id="fechar"></a>
            <div class="pizza">
                <img src="/imagens/{{img}}">
                <Span>{{sabor}}</Span>
            </div>
        </div>
        <div class="subContainer">
            <div class="descricao">
                <p>{{descricao}}</p>
            </div>
            <div class="pizzaInfo--sizearea">
                <div class="pizzaInfo--sector">Tamanho</div>

                <form method="POST" action='/pizza/adicionar'>
                    <div class="pizzaInfo--sizes">
                        <div class="opcao">
                            <input type="radio" id="tamanho_p" name="tamanho" value="pequena">
                            <label for="tamanho_p" >Pequena<span>{{tamanho.pequena}}</span></label>
                        </div>
                        <div class="opcao">
                            <input type="radio" id="tamanho_m" name="tamanho" value="media">
                            <label for="tamanho_m" >Media<span>{{tamanho.media}}</span></label>
                        </div>
                        <div class="opcao">
                            <input checked type="radio" id="tamanho_g" name="tamanho" value="grande">
                            <label for="tamanho_g" >Grande<span>{{tamanho.grande}}</span></label>
                        </div>
                    </div>
                    
                    <div class="pizzaInfo--pricearea">
                        <div class="pizzaInfo--sector">Preço</div>
                        <div class="pizzaInfo--price">
                            <div class="pizzaInfo--actualPrice">R$ <span>{{valor}}</span></div>
                            <div class="pizzaInfo--qtarea">
                                <div class="pizzaInfo--qtmenos btn">-</div>
                                    <div class="pizzaInfo--qt quantity"><input type="number" name="quantidade" min="1" max="9" step="1" value="1"></div>
                                <div class="pizzaInfo--qtmais btn">+</div>
                            </div>
                        </div>
                    </div>
                    <input type="number" name="id" value="{{id}}" style="display: none">

                    <button class="btnFinalizar">ADICIONAR</button> 
                </form>
            </div>
    </div>
{{/item}}
