a {
    text-decoration: none;
    color: #000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
}

ul {
    list-style: none;
}

/* cadastro */

.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input {
    height: 90vh;
    width: 35vw;
    margin-top: 20px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.719);
    background-color: #91EEFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
@media (max-width: 1080px) {
    .input{
        width: 80vw;
        height: 100vh;
    }
}
@media (max-width: 480px) {
    .input{
        width: 100vw;
    }
}

.form h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #FFF;
    letter-spacing: 0.3rem;
    margin-bottom: 10px;
}

.form a{
    color: #FFF;
}

@media (max-width: 900px) {
    .input {
        border-radius: 0;
        border: 0;
    }

    h2 {
        margin-bottom: 15px;
    }
}


div.singleInput {
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 35px;
    position: relative;
}

Input:focus,
Input:valid {
    background-color: rgba(0, 0, 0, 0);
}

div.singleInput label {
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #ffffff;
    cursor: text;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

div.false label {
    color: #ff0000;
}

Input:focus~label,
Input:valid~label {
    transform: translateY(-24px);
}

input {
    width: 250px;
    height: 25px;
    border: 0;
    border-bottom: 1px solid #ffffff;
    background-color: #00000000;
    outline: none;
    font-size: 17px;
    color: #FFF;
}

div.false input {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

div.singleInput img {
    position: absolute;
    left: 220px;
    bottom: 5px;
    cursor: pointer;
    opacity: 0.4;
}

#cadastrar {
    margin-top: 10px;
    padding-top: 10px;
}
