.menu--pizzas {
    display: block;
    width: 90vw;
    height: 800px;
    margin: auto;
    margin-top: 80px;
}

@media (min-width: 1425px) {
    .menu--pizzas {
        width: 60vw;
    }
}

.title {
    font-size: 50px;
    text-align: center;
    color: #ff1b6b;
    letter-spacing: 0.3rem;
    margin-bottom: 35px;
}
